/******************************************************** NAVIGATION 1 ********************************************************/

.nav_container {
    .selected_border{
        content:"";
        position:absolute; 
        background-color: $red;
        height:4px;
        transition: all 0.5s cubic-bezier(.52,1.03,.42,.93);
    }
}
    #nav1{
        height:36px;
        line-height:33px;
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
        padding-left: 60px;
        padding-right: 60px;

        &.highlighting div:before{
            opacity:0.4;
            content:""; 
            position:absolute;
            top:0px;
            bottom:0px;
            left:0px;
            right:0px;
            background-color: $light-blue; 
        }
        
        div {
            display: inline-block; 
            padding-right:20px;
            padding-left:20px;
            height:36px;
            line-height:36px;
            position:relative;
            z-index:0;
            cursor:pointer;
            @extend %prevent_copies;

            &.selected{
                cursor:default;
                color:$red;
                transition: color 0.5s, background-color 0.5s cubic-bezier(.73,.33,.74,.35), text-shadow 0.5s;
                text-shadow:-0.2px 0 $red, 0.2px 0 $red;
            }

            &:not(.selected).pressed{
                top:1px;

                &:hover:after{
                    top:3px;
                }
            }

            &:not(.selected):hover:after{
                content:"";
                top:4px;
                position:absolute;
                width:100%; 
                height:calc(100% - 4px);
                left:0px;
                background-color: $atmo3;
                z-index:-1;
            }

        }
    }